*{
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  *{
    overflow-y: scroll;
  }
  .wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .marquee{
    display: flex;
    width: 1280px;
    overflow: hidden;
    user-select: none;
  }

  @keyframes scrollX {
    from{
      left: translateX(0);
    }
    to{
      transform: translateX(-100%);
    }
  }

  .marquee-group{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    width: 100%;
    animation: scrollX 30s linear infinite;
  }
  .marquee-group2{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    width: 100%;
    animation: scrollX 30s linear infinite;
    animation-direction: reverse;
  }

  .image-group{
    display: grid;
    place-items: center;
  }
  .image{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    aspect-ratio: 16/9;
  }

}





@keyframes scrollY {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(-100%);
  }
}

.marquee-group{
  animation: scrollY 30s linear infinite;
}

.marquee-group2{
  animation: scrollY 30s linear infinite;
  animation-direction: reverse;
}


